@tailwind base;
@tailwind components;
@tailwind utilities;

.background-image {
  background-size: cover;
  /*
  This repeat property could be useful for scrolling vertically
  */
  background-repeat: no-repeat;
  background-image: url("/bg.png");
}

