@tailwind base;
@tailwind components;
@tailwind utilities;

.background-image {
  background-size: cover;
  /*
  This repeat property could be useful for scrolling vertically
  */
  background-repeat: no-repeat;
  background-image: url("/bg.png");
}

::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
  display: none;
}

/* ::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
} */